/* your code */
*{
	margin:0px;
	padding:0px;
	font-family:inter;
}
table{
	border:1px solid lightgray;
	border-collapse: separate;
    border-spacing: 0;
	border-radius:10px;
	background-color:#18599e;
}
thead{
	
	color:white;
}
th{
	padding:10px;
}
.odd{
	background-color:lightgray;
}
.even{
	background-color:white;
}
td{
	padding:10px;
}